{% extends 'account/_profile.html.twig' %}

{% block account_content %}
    {% if form is defined %}
        <p><b>Логин:</b> {{ app.user.username }}</p>

        <p><b>Email:</b> {{ app.user.email }}</p>

        <p><b>Город:</b>
            {% if app.user.city %}
                {{ app.user.city }} ({{ app.user.city.region.fullname }})
            {% else %}
                <a href="{{ path('account_geoposition') }}"> -- Не указан --</a>
            {% endif %}
        </p>

        {{ form(form) }}
    {% endif %}
{% endblock %}
