{% extends 'base.html.twig' %}

{% block title %}Методы доставки - Админка{% endblock %}

{% block content %}

{#    <p style="float: right; margin-top: 16px;">#}
{#        <a href="{{ path('admin_tax_create') }}" class="btn btn-success">Добавить</a>#}
{#    </p>#}

    <h1>Методы доставки</h1>

    <p>Всего: {{ methods|length }}</p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Активно</th>
            <th>Сервис</th>
            <th>Дата добавления на сайт</th>
        </tr>
        </thead>
        <tbody>
        {% for method in methods %}
            <tr>
                <td><a href="{{ path('admin_shipping_method_edit', {'id': method.id}) }}">{{ method }}</a></td>
                <td>{{ method.isEnabled }}</td>
                <td>
                    {{ method.service }}
                    {% if method.service != method.class %}
                        ({{ method.class }})
                    {% endif %}
                </td>
                <td>{{ method.createdAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
