{% extends 'base.html.twig' %}

{% block title %} {{ product }} - от {{ product.cooperative }} {% endblock %}

{% block content %}

    <h2>Просмотр предложения</h2>
    <div class="clear"></div>

    <div class="row">
        <div class="col-md-8">
            <p>Категория <a href="#">{{ product.category }}</a></p>
            <div class="clear"></div>

            <h1>{{ product.title }}</h1>

            <p>
                <a href="#" data-toggle="modal" data-target="#image_modal_{{ product.id }}">
{#                    <img src="{{ path('image', {'filter': 'items_list_thumbnail', 'id': item.imageId ?:0 }) }}">#}
                    <img src="{{ asset('assets/image-not-found-png-6-300x200.png') }}">
                </a>
                <br>

                <div class="modal fade" id="image_modal_{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="order_modal_label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 1200px !important; max-height: 800px !important;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="order_modal_label">{{ product }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
{#                                <img src="{{ path('image', {'filter': 'compress_original', 'id': product.imageId ?:0 }) }}" class="img-fluid">#}
                                <img src="{{ asset('assets/image-not-found-png-6-300x200.png') }}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </p>

            <h3>
                <span class="badge badge-secondary">
                    {{ product.priceRange }} ₽
                    {#
                {% if product.price == 0 %}
                    Договорная
                {% else %}
                    {{ product.price|number_format(0, ' ', ' ') }} ₽
                {% endif %}
                #}
                </span>

                {% include 'marketplace/_status.html.twig' %}

                {% if product.isStatusAccessToOrder and app.user is not null and app.user.isMember %}
                    <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#exampleModal"><i class="far fa-handshake"></i> В корзину</button>
                {% endif %}
{#                <button type="button" class="btn btn-sm btn-outline-danger"><i class="far fa-heart"></i> В избравнное</button>#}
            </h3>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить в корзину</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><i class="fas fa-cart-plus"></i> {{ product }}</p>

                            <form id="myform" action="{{ path('basket_add_item', {'id': product.id}) }}" method="post" >
                                <input type="hidden" name="item_id" value="{{ product.id }}">

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Количество</label>
                                    <input type="number" id="order-quantity" class="form-control" min="1" name="quantity" value="1" title="Максимум
                                        @todo
                                        {#{{ product.quantity }}#}
                                        ">
                                </div>
{#
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Комментарий</label>
                                    <textarea class="form-control" id="message-text" name="comment" rows="4"></textarea>
                                </div>
#}
                                <div class="modal-footer">
                                    <div style="float: left; margin-right: 14px;">Сумма <strong id="order-amount">
                                            @todo
{#                                            {{ product.price }}#}
                                            ₽
                                        </strong></div>
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-success" id="form_submit">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{#            <p>Статус: {% include 'product/_status.html.twig' %}</p>#}

            <p style="float: right;">Добавлено: {{ product.createdAt|format_datetime }}</p>

            <p>Количество: @todo </p>
{#
            {% if product.quantity %}
                <p>Количество: {{ product.quantity }}</p>
            {% endif %}
            #}
            <div class="clear"></div>

            {% if product.shortDescription or product.description %}
                <p>{{ product.shortDescription }}</p>
                {% if product.description %}
                    <p>{{ product.description|nl2br }}</p>
                {% endif %}
            {% endif %}

            {# @todo разрешения на редактированеие другим участничкам #}
            {% if product.user == app.user %}
                <p>
                    <a href="{{ path('account_product_edit', {'id': product.id}) }}" class="btn btn-sm btn-success">Редактировать</a>
                </p>
            {% endif %}

        </div>

        <div class="col-md-4">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">{{ product.cooperative }}</h4>
                <p><b>О кооперативе</b></p>
                <p>{{ product.cooperative.description }}</p>
                <p><i class="far fa-calendar-check"></i> Дата регистрации {{ product.cooperative.createdAt|format_date }}</p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ parent() }}

    <script>
{#
        $(document).ready( function() {
          $('#myform').on('submit', function(event) {
            event.preventDefault();
            $('#form_submit').attr('disabled', true);

            $.post( $(this).attr('action'), $(this).serialize(), function(data) {
              //console.log(data);
              if(data.status == 'success') {
                // Success code here
                location.reload();
              } else {
                // Error code here
                new PNotify({
                  title: '{{ 'Error'|trans }}!',
                  text: data.message,
                  type: 'error'
                });

                $('#form_submit').attr('disabled', false);
              }
            }, 'json')
          });

          $('#exampleModal').on('shown.bs.modal', function (e) {
            $('#order-quantity').focus();
          });

          $('#order-quantity').bind('keyup mouseup', function () {
            //price = $('#order-price').val();
            price = {{ product.price }};
            $('#order-amount').text(this.value * price + ' ₽');
          });

          $('#order-price').bind('keyup mouseup', function () {
            //price = $('#order-quantity').val();
            price = {{ product.price }};
            $('#order-amount').text(this.value * price + ' ₽');
          });
        });
#}
    </script>

{% endblock js %}
