{% extends 'base.html.twig' %}

{% block title %}Админка{% endblock %}

{% block content %}

    <h1>Админка</h1>

    <a href="{{ path('admin_payment') }}">Платежи</a>
    <br>
    <a href="{{ path('admin_order') }}">Заказы</a>
    <br>
    <a href="{{ path('admin_user') }}">Пользователи</a>
    <br>
    <a href="{{ path('admin_coop') }}">Кооперативы</a>
    <br>
    <a href="{{ path('admin_category') }}">Категории товаров и услуг</a>
    <br>
    <a href="{{ path('admin_pick_up_location') }}">Точки выдачи</a>
    <br>
    <a href="{{ path('admin_program') }}">Целевые программы</a>
    <br>
    <a href="{{ path('admin_tax') }}">Налоговые ставки</a>
    <br>
    <a href="{{ path('admin_payment_method') }}">Методы оплаты</a>
    <br>
    <a href="{{ path('admin_shipping_method') }}">Методы доставки</a>
    <br>

{% endblock %}
