{% extends 'account/_layout.html.twig' %}

{% block title %}Заказ - {{ parent() }}{% endblock %}

{% block account_content %}

    <h2>Заказ # {{ order.id }}</h2>

    <p>Статус: <b>{{ order.statusAsText }}</b></p>

    <p>Дата: {{ order.createdAt|date }}</p>

    <p>Кооператив: {{ order.cooperative }}</p>

    <h3>Товары</h3>

    <ul>
        {% for line in order.lines %}
            <li>{{ line.productVariant.product }} ({{ line.productVariant }}) {{ line.price }} p x {{ line.quantity }} = {{ line.price * line.quantity }} p</li>
        {% endfor %}
    </ul>

    <p>Итого на сумму: <b>{{ order.amount }}</b> p</p>

    {% if order.status != 0 %} {# заказ уже офомлен - отоюражении информации о нём #}

        <h3>Способ доставки</h3>

        <p>{{ order.shippingMethod }}</p>

        <br>

        {% if order.shippingAddress %}
            <h3>Адрес доставки</h3>

            {% if order.shippingAddress is empty %}
                <p>не указан</p>
            {% else %}
                <p>{{ order.shippingAddress }}</p>
            {% endif %}
        {% else %}
            <h3>Адрес точки выдачи</h3>

            <p>{{ order.shippingPickUpLocation.address }}</p>
        {% endif %}
        <br>

        <h3>Оплата</h3>

        <ul>
            {% for payment in order.payments %}
                <li>
                    {{ payment.amount }} p -

                    <span class="badge badge-{{ payment.statusBadgeColor }}">{{ payment.statusAsText }}</span>

                    <span class="badge badge-secondary">{{ payment.method }}</span>
                    от
                    <i>{{ payment.createdAt|date }}</i>
                </li>
            {% endfor %}
        </ul>
    {% else %} {# процедура офомления заказа #}

        {# доставка #}
        {% if order.checkoutStatus == 'cart' %}
            <h3>Выберите метод доставки</h3>

            <form method="post">
                <select name="sm">
                    {% for sm in shipping_methods %}
                        <option value="{{ sm.id }}">{{ sm }}</option>
                    {% endfor %}
                </select>
                &nbsp;
                <button class="btn btn-success">Выбрать</button>
            </form>
        {% else %}
            <h3>Способ доставки</h3>

            <p>{{ order.shippingMethod }} - <a href="?choose_another_shipping_method">Выбрать другой</a></p>

            <br>
        {% endif %}

        {# Адрессация #}
        {% if order.checkoutStatus == 'shipping_selected' %}
            {% if addresing_form %}
                {{ form(addresing_form) }}
            {% else %}
                <p><a href="{{ path('account_address_create') }}">Добавьте адрес, а затем вернитесь к оформлению заказа</a></p>
            {% endif %}
        {% elseif order.checkoutStatus != 'cart' %}
            {% if order.shippingAddress %}
                <h3>Адрес доставки</h3>

                {% if order.shippingAddress is empty %}
                    <p>не указан</p>
                {% else %}
                    <p>{{ order.shippingAddress }}</p>
                {% endif %}
            {% else %}
                <h3>Адрес точки выдачи</h3>

                <p>{{ order.shippingPickUpLocation.address }}</p>
            {% endif %}
        {% endif %}

        {# Оплата #}
        {% if order.checkoutStatus == 'addressed' %}
             <h3>Выберите метод оплаты</h3>

            {% if order.shippingPrice > 0 %}
                <p>Итоговая сумма к оплате: {{ order.amount + order.shippingPrice }} ({{ order.amount }} + {{ order.shippingPrice }} за доставку)</p>
            {% endif %}

            <form method="post">
                <select name="pm">
                    {% for pm in payment_methods %}
                        <option value="{{ pm.id }}">{{ pm }}</option>
                    {% endfor %}
                </select>
                &nbsp;
                <button class="btn btn-success">Оплатить <b>{{ order.amount + order.shippingPrice }}</b></button>
            </form>
        {% endif %}

    {% endif %}

{% endblock %}
