{% extends 'account/_layout.html.twig' %}

{% block title %}Мои кооперативы - {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}

    <p style="float: right; margin-top: 8px;">
        <a href="{{ path('account_coop_create') }}" class="btn btn-success">Добавить на сайт новый кооператив</a>
    </p>

    <h2>Мои кооперативы</h2>

    <p>Всего: {{ members|length }}</p>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Название</th>
            <th>Мой статус</th>
            <th>Статистика</th>
            <th>Статус</th>
            <th>Дата регистрации</th>
            <th>Дата добавления на сайт</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('account_coop_show', {'id': member.cooperative.id}) }}">{{ member.cooperative }}</a></td>
                <td>{{ member.statusAsText }}</td>
                <td style="padding: 0;">
                    <table style="width: 100%;">
                        <tr>
                            <td>Кол-во участников:</td>
                            <th>{{ member.cooperative.members|length }}</th>
                        </tr>
                        <tr>
                            <td>Товаров и услуг:</td>
                            <th>{{ member.cooperative.products|length }}</th>
                        </tr>
                        <tr>
                            <td>Точек выдачи:</td>
                            <th>{{ member.cooperative.pickUpLocations|length }}</th>
                        </tr>
                        <tr>
                            <td>Целевые программы:</td>
                            <th>{{ member.cooperative.programs|length }}</th>
                        </tr>
                    </table>
                </td>
                <td>{{ member.cooperative.statusAsText }}</td>
                <td>
                    {% if member.cooperative.registerDate is not empty %}
                        {{ member.cooperative.registerDate|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td style="width: 40px;">{{ member.createdAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
